body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

textarea {
  resize: none;
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.twitter,
.facebook,
.instagram,
.linkedin {
  width: 20px;
  height: 20px;
  color: currentColor;
}

.advantages {
  padding-bottom: 0;
}

.block-name {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.logo__accent {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__dark {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo__white {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header-nav__list .header-nav__item:not(:last-child) {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__link {
  position: relative;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__link.header-nav__link--current {
  color: #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-nav__link:hover,
.header-nav__link:focus {
  font-family: inherit;
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-list__link {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 50px;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

.mail-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../image/hero-img.jpg");
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../image/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin: 0 auto;
}

.hero__btn {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list__item {
  width: 270px;
  margin-right: 30px;
}

.features-list__item:nth-child(4n) {
  margin-right: 0;
}

.features-list__title {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-family: "Roboto", sans-serif;
  color: #757575;
  line-height: 1.7;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.features-list__icon {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-list__icon:nth-child(4n) {
  margin-right: 0px;
}

.features-list__svg {
  width: 65.32px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__photo {
  position: relative;
  padding-right: 30px;
}

.products__photo:nth-child(3n) {
  padding-right: 0;
}

.products__text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px 82px;
}

.team {
  background-color: #f5f4fa;
}

.team .section.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.team__info {
  margin-right: 30px;
  width: 270px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-family: inherit;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__list:nth-child(4) {
  margin-right: 0;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.social-media__icons {
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.social-media__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-media__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__logo {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__logo:nth-child(6n) {
  margin-right: 0;
}

.clients-list__logo:hover, .clients-list__logo:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__info {
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  padding-left: auto;
  margin-top: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__contact {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:nth-last-child(n) {
  margin-bottom: 0px;
}

.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}

.footer__social {
  margin-left: 70px;
}

.footer__icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  fill: #ffffff;
}

.footer__icons:nth-child(4) {
  margin-right: 0;
}

.footer__smm {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  width: 570px;
  margin-left: 93px;
}

.form__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2f303a;
  margin: 20px 0 0;
  padding: 15px;
  color: #ffffff;
  outline: none;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-left: 29px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 12px;
}

.form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-modal {
  min-width: 528px;
  height: 581px;
  padding: 40px;
}

.form-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__close-button:hover {
  fill: #2196f3;
}

.form-modal__close {
  width: 18px;
  height: 18px;
}

.form-modal__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 12px;
}

.form-modal__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form-modal__field input:focus {
  border-color: #2196f3;
}

.form-modal__label {
  margin-bottom: 4px;
}

.form-modal__input {
  padding: 0 42px;
  outline: none;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-modal__input:focus {
  border-color: #2196f3;
}

.form-modal__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
  width: 18px;
  height: 18px;
}

.form-modal__input:focus + .form-modal__icon {
  fill: #2196f3;
}

.form-modal__field:nth-child(6) {
  margin-bottom: 0;
}

.form-modal__field textarea:focus {
  border-color: #2196f3;
}

.form-modal__comment {
  width: 448px;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  margin-bottom: 18px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__field .checkbox {
  margin-bottom: 0;
}

.checkbox__icon {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 16px;
}

.checkbox:checked + .checkbox__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-color: #2196f3;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__confirmation {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  margin-left: 8px;
}

.checkbox__conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  letter-spacing: 0.03em;
  margin-left: 6px;
}

.checkbox:checked .checkbox__icon {
  background-color: #2196f3;
}

.submit-modal {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
  margin: 32px 124px 0;
  color: #ffffff;
  cursor: pointer;
}

.submit-modal:hover, .submit-modal:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-list .button-list__item {
  padding-left: 8px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button-list__nav {
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 23px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__nav:hover,
.button-list__nav:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.portfolio-list .portfolio-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list:nth-last-child(-n + 3) {
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list__links {
  display: block;
}

.portfolio-list__links:hover,
.portfolio-list .portfolio-list__links:focus {
  -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
}

.portfolio-list__projects {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list__name {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__links:hover .portfolio-list__text,
.portfolio-list__links:focus .portfolio-list__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__type {
  color: #000000;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.features-list__item, .features-list__item:nth-child(4n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list .portfolio-list__item, .portfolio-list .portfolio-list__item:nth-child(3n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
/*# sourceMappingURL=main.css.map */