body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $text-color;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

textarea {
  resize: none;
  outline: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.twitter,
.facebook,
.instagram,
.linkedin {
  width: 20px;
  height: 20px;
  color: currentColor;
}

.advantages {
  padding-bottom: 0;

  @media screen {
  }
}

.block-name {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: $background-color-white;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
