$main-font: "Roboto", sans-serif;
$title-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$text-color: #000000;
$text-accent: #ffffff;
$logo-accent: #2196f3;
$contact-color: #757575;
$background-color-dark: #2f303a;
$background-color-white: #ffffff;
$background-color-grey: #f5f4fa;
$background-transparent: rgba(47, 48, 58, 0.4);
$social-media-background: #afb1b8;
$header-border: #ececec;
$submit-modal-hover: #188ce8;
