.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .button-list__item {
  padding-left: 8px;
  align-content: center;
}

.button-list__nav {
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: $background-color-grey;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 23px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__nav:hover,
.button-list__nav:focus {
  color: $text-accent;
  background-color: $logo-accent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
