.features-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    @extend %features-list;
    width: 270px;
    margin-right: 30px;
  }

  &__item:nth-child(4n) {
    @extend %features-list;
    margin-right: 0;
  }

  &__title {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    font-family: $main-font;
    color: $contact-color;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  &__icon {
    background-color: $background-color-grey;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__icon:nth-child(4n) {
    margin-right: 0px;
  }

  &__svg {
    width: 65.32px;
    height: 70px;
    justify-content: center;
  }
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
}
