.form-modal {
  min-width: 528px;
  height: 581px;
  padding: 40px;

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    box-sizing: border-box;
    background-color: $background-color-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $background-color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-button:hover {
    fill: $logo-accent;
  }

  &__close {
    width: 18px;
    height: 18px;
  }

  &__title {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-bottom: 12px;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 448px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $contact-color;
    margin-bottom: 10px;
  }

  &__field input:focus {
    border-color: $logo-accent;
  }

  &__label {
    margin-bottom: 4px;
  }

  &__input {
    padding: 0 42px;
    outline: none;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__input:focus {
    border-color: $logo-accent;
  }

  &__input::placeholder {
    font-family: $main-font;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: rgba(117, 117, 117, 0.5);
  }

  &__icon {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
  }

  &__input:focus + &__icon {
    fill: $logo-accent;
  }

  &__field:nth-child(6) {
    margin-bottom: 0;
  }

  &__field textarea:focus {
    border-color: $logo-accent;
  }

  &__comment {
    width: 448px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    margin-bottom: 18px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
