.header__container {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-mobile {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
