.products {
  display: flex;
  justify-content: center;

  &__photo {
    position: relative;
    padding-right: 30px;
  }

  &__photo:nth-child(3n) {
    padding-right: 0;
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-accent;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding: 27px 82px;
  }
}
