%features-list {
  display: flex;
  flex-wrap: wrap;
}

%button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

%portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}
